html {
	margin:0;
	padding:0;
}

body {
	line-height: 1.45;
	font-size: 1.3em;
	max-width: 650px;
	margin: 50px auto;
	padding: 0 20px;
	color: hsl(200,20%,20%);
	background-color: hsl(40, 35%, 85%);
}


h1, h2, h3 {
	line-height: 1.2;
}

code {
	background-color: hsl(10,60%,80%);
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding:5px;
}

strong {
	font-variant:small-caps;
	text-transform: lowercase;
}

ul li {
	text-align: right;
	list-style-type:none;
}